@(user: String)(implicit request: RequestHeader, lang: Lang)

@import de.mritter.ticketchecker.server.Db
@import org.squeryl.PrimitiveTypeMode._

@main{

<header class="navbar navbar-default navbar-fixed-top" role="banner">
	<div class="nav-container">
		<a href="index.html" class="navbar-brand">@Messages("title")</a>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Navigation umschalten</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="pull-right collapse navbar-collapse">
			@Messages("loggedInAs", user)<button id="logout" type="button" class="btn btn-default navbar-btn btn-sm">@Messages("logout")</button>
		</div>
		<div class="middle">
			<div class="progress progress-striped check-in-progress">
				<div id="progress-checked-in" class="progress-bar progress-bar-success"></div>
				<div id="progress-not-checked-in" class="progress-bar"></div>
				<div id="progress-text"></div>
			</div>
		</div>
	</div>
</header>

<div class="content">

	<div class="static-top">
		<div id="alerts"></div>
	</div>

	<p>
		@Messages("tickets.predictedEnd"): <span class="predicted-check-in-done"></span> (<span class="check-in-speed"></span> @Messages("tickets.checkInsPerMin"))
	</p>

	<table id="tickets" class="table table-striped table-condensed">
	<thead>
		<tr>
			<th><i class="icon-sort"></i> @Messages("tickets.order")</th>
			<th><i class="icon-sort"></i> @Messages("tickets.code")</th>
			<th><i class="icon-sort"></i> @Messages("tickets.forename")</th>
			<th><i class="icon-sort"></i> @Messages("tickets.surname")</th>
			<th><i class="icon-sort"></i> @Messages("tickets.isStudent")</th>
			<th><i class="icon-sort"></i> @Messages("tickets.table")</th>
			<th><i class="icon-sort"></i> @Messages("tickets.checkedInBy")</th>
			<th><i class="icon-sort"></i> @Messages("tickets.checkInTime")</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	@for(t <- Db.tickets.where(t => 1 === 1).iterator) {
		<tr id="ticket-@t.id">
			<td class="order">@t.order</td>
			<td class="code">@t.code</td>
			<td>@t.forename</td>
			<td>@t.surname</td>
			<td>@(if(t.isStudent) Messages("yes") else Messages("no"))</td>
			<td>@t.table</td>
			<td class="check-in-by">@t.checkedInBy.headOption.map(_ username).getOrElse("")</td>
			<td class="check-in-time">@t.checkInTime.map(_ + "").getOrElse("")</td>
			<td class="actions">
				<button class="btn btn-primary btn-xs action-check-in @(if(t.checkedIn) "hide" else "")">@Messages("tickets.checkIn")</button>
				<button class="btn btn-danger btn-xs action-decline @(if(t.checkedIn) "" else "hide")">@Messages("tickets.decline")</button>
			</td>
		</tr>
	}
	</tbody>
	</table>

<script type="text/javascript">
	var ticketApiUrl = "@de.mritter.ticketchecker.server.routes.Application.api(user).webSocketURL()";
</script>

}("jquery/js/jquery.tablesorter.min.js", "js/date.js", "js/index.js")
