
/* Login */
body, html {
	height: 100%;
}
.block {
	text-align: center;
	height: 100%;
}
 .block:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}
.centered {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	margin-bottom: 10%; /* push it a little bit up */
}

#loginFailed {
	text-align: left;
	opacity: 0;
}
#loginForm .buttons {
	text-align: right!important;
}

/* Tickets */
.middle {
	overflow: hidden;
	position: relative;
	min-width: 100px;
}
.progress {
	position: relative;
}
.check-in-progress {
	width: 100%;
	height: 26px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 10px 0;
}
#progress-text {
	position: absolute;
	width: 100%;
	left: 0;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	z-index: 2;
}
#logout, .navbar-toggle {
	margin-left: 12px;
}
.content {
	width: 95%;
	margin: 70px auto 15px auto;
}
.static-top {
	position: fixed;
	top: 60px;
	width: 100%;
}
#alerts {
	position: relative;
	width: 100%;
	height: 0;
	max-width: 500px;
	margin: 0 auto;
}
.alert {
	padding: 5px 35px 5px 15px;
	margin-bottom: 5px;
}
